/* CSS untuk pop-up */
.popup {
  display: none; /* Sembunyikan pop-up secara default */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px; /* Padding lebih kecil */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px; /* Sudut melengkung */
  text-align: center; /* Pusatkan teks dan gambar */
  width: 200px; /* Lebar pop-up yang tetap */
}

.popup-overlay {
  display: none; /* Sembunyikan overlay secara default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup img {
  max-width: 100%; /* Ukuran maksimum gambar 100% dari lebar pop-up */
  height: auto; /* Menjaga proporsi gambar */
  border-radius: 5px; /* Sudut melengkung untuk gambar */
}

#closePopup {
  margin-top: 10px; /* Jarak antara gambar dan tombol */
  padding: 8px 15px; /* Ukuran tombol lebih kecil */
  border: none; /* Menghilangkan border */
  background-color: #0b2e34; /* Warna latar tombol */
  color: white; /* Warna teks tombol */
  border-radius: 5px; /* Sudut melengkung untuk tombol */
  cursor: pointer; /* Menunjukkan bahwa tombol bisa diklik */
  transition: background-color 0.3s; /* Transisi saat hover */
  display: block; /* Mengubah tampilan tombol menjadi block */
  margin-left: auto; /* Memusatkan tombol */
  margin-right: auto; /* Memusatkan tombol */
}

#closePopup:hover {
  background-color: #0b2e34; /* Warna latar saat hover */
}

/* CSS khusus untuk pop-up di halaman masuk */
#loginPopupContainer .popup {
  display: none; /* Sembunyikan pop-up secara default */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  border-radius: 8px;
  width: 200px;
}

#loginPopupContainer .popup-overlay {
  display: none; /* Sembunyikan overlay secara default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#loginPopupContainer .popup h3 {
  margin: 0 0 10px;
}

#loginPopupContainer #closePopup {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #0b2e34;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#loginPopupContainer #closePopup:hover {
  background-color: #0056b3;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 105vh !important;
}
.containerlogin {
  display: flex;
  width: 100%;
}
.left {
  background-color: #0b2e34;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.left img {
  width: 200px;
  margin-bottom: 20px;
}
.left h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.left p {
  font-size: 18px;
  text-align: center;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login-form {
  width: 100%;
  max-width: 400px;
}
.login-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.login-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.login-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form input[type="checkbox"] {
  margin-right: 10px;
}
.login-form .checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #235347;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.login-form .register {
  text-align: center;
  margin-top: 20px;
}
.login-form .register a {
  color: #235347;
  margin-top: 20px;
  text-decoration: none;
}
.login-form .google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
.login-form .google-login img {
  width: 20px;
  margin-right: 10px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100vh;
}
.container {
  display: flex;
  width: 100%;
}
.left {
  background: linear-gradient(#0b2e34, #235347);
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.left img {
  width: 450px;
  margin-bottom: 20px;
}
.left h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.left p {
  font-size: 18px;
  text-align: center;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login-form {
  width: 100%;
  max-width: 400px;
}
.login-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.login-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.login-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form input[type="checkbox"] {
  margin-right: 10px;
}
.login-form .checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #235347;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.login-form .register {
  text-align: center;
  margin-top: 20px;
}
.login-form .register a {
  color: #235347;
  margin-top: 20px;
  text-decoration: none;
}
.login-form .google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
.login-form .google-login img {
  width: 20px;
  margin-right: 10px;
}

/* Untuk tablet (768px ke bawah) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Menumpuk bagian kiri dan kanan secara vertikal */
  }

  .left,
  .right {
    width: 100%; /* Pastikan elemen memenuhi lebar layar */
  }

  .left {
    background-color: #0b2e34; /* Warna full background */
  }

  #registerButton {
    background-color: #3c8b78; /* Warna solid untuk responsif */
    color: #0b2e34;
  }

  .register p {
    font-size: 13px;
    color: white; /* Warna putih untuk seluruh teks */
  }

  .register a {
    color: white !important; /* Warna putih untuk link secara default */
    text-decoration: underline;
    font-weight: bold;
  }

  .right {
    background-color: #235347; /* Warna full background */
  }

  .login-form p {
    color: white;
  }
}

/* Untuk ponsel (480px ke bawah) */
@media (max-width: 480px) {
  .container {
    flex-direction: column; /* Menumpuk bagian kiri dan kanan secara vertikal */
  }

  #registerButton {
    background-color: #235347; /* Warna solid untuk responsif */
  }

  .register p {
    font-size: 13px;
    color: white; /* Warna putih untuk seluruh teks */
  }

  .register a {
    color: white !important; /* Warna putih untuk link secara default */
    text-decoration: underline;
    font-weight: bold;
  }

  .left,
  .right {
    width: 100%; /* Pastikan elemen memenuhi lebar layar */
  }

  .left {
    background-color: #0b2e34; /* Warna full background */
  }

  .right {
    background-color: #235347; /* Warna full background */
  }

  .login-form p {
    color: white;
  }
}
